.about-us {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 675px;
    margin: 0 225px;
    padding: 0;
  }
}

.about-us__title {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.about-us__advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    column-count: 2;
    column-gap: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 25px;
  }
}

.about-us__advantage {
  margin-bottom: 31px;
  padding-top: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}
