.cards-list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.cards-list__card {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
  }
}

.cards-list__link {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

.cards-list__button {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: end;
  }
}
