.catalog-production {
  border: 1px solid #ececec;

  @media (max-width: ($tablet-width - 1px)) {
    max-width: 260px;
    margin: 0 auto 30px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

.catalog-production__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 21px 13px 0 90px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.catalog-production__video-wrapper {
  position: relative;
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    width: 100px;
    height: 76px;
    background-image: url("../../img/video-controls-play.svg");
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.catalog-production__video {
  background-image: url("../../img/video-cover-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: none;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/video-cover-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/video-cover-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/video-cover-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/video-cover-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/video-cover-desktop@2x.jpg");
    }
  }
}

.catalog-production__description {
  margin: 0 30px 40px;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.catalog-production__button {
  margin: 0 auto 33px;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}
