.contact-us {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -23px;
      right: 52px;

      width: 47px;
      height: 81px;

      background-image: url("../../img/flag-image.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      top: -15px;
      left: 113px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;

    max-width: 295px;
  }
}

.contact-us__title {
  margin-bottom: 28px;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 48px;
    margin-bottom: 49px;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 35px;
  }
}

.contact-us__details-list {
  margin: 0 30px 60px;
  padding: 0;

  font-size: 14px;
  line-height: 30px;

  display: grid;
  grid-template-columns: auto auto;
  column-gap: 32px;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin: 0 50px 48px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin: 0 0 85px;
    column-gap: 23px;
    justify-content: start;
  }
}

.contact-us__type {
  grid-column: 1 / 2;
}

.contact-us__details {
  margin: 0;
  max-width: 227px;

  grid-column: 2 / 3;

  &:first-of-type {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 0.1px) {
      margin-right: 28px;
    }
  }
}

.contact-us__link {
  border-bottom: 1px solid #62d1ba;

  text-decoration: none;
  color: inherit;

  &:hover {
    color: #62d1ba;
  }

  &:active {
    border-bottom: none;
  }
}

.contact-us__map-wrapper {
  position: relative;

  width: 100%;
  height: 454px;

  margin-bottom: 45px;

  background-image: url("../../img/map-background-mobile.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    background-image: url("../../img/map-background-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;

    position: absolute;
    top: -80px;
    right: -582px;

    background-image: url("../../img/map-background-desktop.png");
  }
}

.contact-us__map {
  border: none;
  width: 100%;
  height: 100%;
}

.contact-us__write {
  margin: 0 auto;
  width: 218px;

  @media (min-width: $tablet-width) {
    max-width: 187px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 14px 21px 14px 19px;
    letter-spacing: -1px;
  }
}
