.featured-item {
  padding-bottom: 36px;
}

.featured-item__description {
  margin: 0;

  font-size: 15px;
}

.featured-item__value {
  margin: 0;

  font-size: 15px;
  line-height: 20px;
}

.featured-item__price {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
}
