.featured-item {
  position: relative;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.featured-item__wrapper {
  position: relative;
  margin-bottom: 35px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    max-width: 545px;
    margin-left: 175px;
  }
}

.featured-item__title {
  order: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;

    max-width: 100px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    left: -150px;
  }
}

.featured-item__description {
  margin: 0;
  margin-bottom: 28px;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    max-width: 292px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    margin-left: 175px;
  }
}

.featured-item__properties {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 291px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 28px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 110px 175px;
  }
}

.featured-item__attribute,
.featured-item__value {
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid #ececec;

  font-size: 15px;
  line-height: 20px;
}

.featured-item__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 25.5px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 50px;

    margin: 0;
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.featured-item__price {
  margin: 0;
  margin-bottom: 24.5px;
  text-align: center;

  font-weight: 700;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    max-width: 292px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}

.featured-item__order {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 80px;
  width: 260px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}
