.feedback {
  position: relative;
  padding: 0 50px 45px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);

    background-image: url("../../img/index-review-background.png");
    background-position: left;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-review-background@2x.png");
      background-size: contain;
    }
  }
}

.feedback__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    margin-top: 82px;
    margin-bottom: 38px;
  }
}

.feedback__list {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 4;
    grid-column: 1 / -1;

    margin: 0;
  }
}

.feedback__buttons {
  max-width: 225px;
  margin: 0 auto 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -20px;
    right: 50px;
  }
}

.feedback__share {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    justify-self: end;
    align-self: end;

    margin-bottom: 38px;
  }
}
