.feedback {
  position: relative;
  padding: 0 30px 45px;

  @media (min-width: $tablet-width) {
    padding: 0 50px 45px;

    background-image: url("../../img/index-review-background.png");
    background-position: left;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-review-background@2x.png");
      background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -86px;
      left: -6px;

      width: 100%;
      height: 18px;

      background-image: url("../../img/wavy-border-grey.svg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 101px 175px;

    &::after {
      background-image: url("../../img/wavy-border-grey-large.svg");
      height: 23px;
    }
  }
}

.feedback__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 86px;
    margin-bottom: 36px;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
  }
}

.feedback__list {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.feedback__buttons {
  display: flex;
  max-width: 225px;
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 10px;
    right: 56px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 38px;
    bottom: 64px;
    right: 5px;
  }
}

.feedback__share {
  margin: 0 auto;
  padding: 14px 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 79px;
    right: 49px;

    width: 130px;
    padding: 15px 21px 13px;

    margin: 0;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}
