.item-card {
  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
  }
}

.item-card__image {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}

.item-card__title {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.item-card__description {
  margin: 0;

  line-height: 30px;
}

.item-card__price {
  margin: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: end;
  }
}
