.main-footer {
  padding: 25px 30px 23px;

  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__credentials {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.main-footer__logo {
  @media (max-width: ($tablet-width - 1px)) {
    @include visually-hidden;
  }
}
