.modal-cart__title {
  margin: 0;
  padding: 31px 78px 15px 84px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding: 52px 75px 25px;
  }
}

.modal-cart__form {
  padding: 0 29px;

  @media (min-width: $tablet-width) {
    padding: 0 110px;
  }
}

.modal-cart__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.modal-cart__label {
  display: inline-block;

  width: 40px;
  min-height: 16px;

  border: 2px solid #444444;
  padding: 15px 18px;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  text-align: center;

  cursor: pointer;

  &:not(:nth-of-type(3n)) {
    margin-right: 7px;
  }

  @media (min-width: $tablet-width) {
    width: 67px;
  }
}

.modal-cart__option {
  @include visually-hidden;
}

.modal-cart__option:checked + .modal-cart__label {
  border: 2px solid #63d1bb;
}

.modal-cart__button {
  margin-bottom: 45px;
  width: 100%;
  padding: 16px 20px;
}
