.promo-container {
  display: grid;
  grid-template-rows: 73px auto 120px auto;

  min-height: 373px;

  background-color: #f9f9f9;
  background-image: url("../../img/hero-background-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/hero-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px;

    background-image: url("../../img/hero-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-background-desktop@2x.jpg");
    }
  }
}

.promo-container__title {
  grid-row: 2 / 3;
}

.promo-container__list {
  grid-row: 4 / 5;
}
