.promo-container {
  min-height: 373px;

  background-image: url("../../img/index-header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo-container__title {
  vertical-align: middle;
}
