@import "fonts.scss";
@import "global.scss";
@import "mixins.scss";
@import "variables.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/page.scss";
@import "blocks/main-container.scss";
@import "blocks/main-header.scss";
@import "blocks/navigation-button.scss";
@import "blocks/site-navigation.scss";
@import "blocks/main-page-title.scss";
@import "blocks/promo-container.scss";
@import "blocks/categories-navigation.scss";
@import "blocks/category-label.scss";
@import "blocks/secondary-title.scss";
@import "blocks/featured-item.scss";
@import "blocks/button.scss";
@import "blocks/advantage-text.scss";
@import "blocks/about-us.scss";
@import "blocks/review.scss";
@import "blocks/feedback.scss";
@import "blocks/switch-button.scss";
@import "blocks/contact-us.scss";
@import "blocks/main-footer.scss";
@import "blocks/modal-container.scss";
@import "blocks/modal-cart.scss";
@import "blocks/hero.scss";
@import "blocks/form-label-text.scss";
@import "blocks/order-form.scss";
@import "blocks/order-fieldset.scss";
@import "blocks/cards-list.scss";
@import "blocks/item-card.scss";
@import "blocks/catalog-production.scss";
@import "blocks/catalog-items.scss";
