.local-header__container {
  margin-bottom: 17px;

  min-height: 177px;
  background-color: #f1f1f1;
}

.local-header__title {
  vertical-align: middle;
}

.local-header__text {
  margin: 0;
  margin-bottom: 37px;
}
